In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## For Tin

In [25]:
# data = pd.read_excel('./Data/Critical_Minerals_Data_Tables.xlsx')
data = pd.read_excel('./Data/Month-wise production.xlsx').fillna(0)
tin = pd.DataFrame()

data.head()

,Unnamed: 0,YEAR 2017,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108
0,Minerals,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,...,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,Copper Conc,677973000,563372000,722886000,458581000,558438000,572409000,587144000,509513000,658014000,...,1105404000,763917000,942199000,794873000,1105315000,1152249000,1142541000,0,0,0
2,Tin,702000,449000,408000,726000,616000,303000,457000,477000,808000,...,1038000,468000,3559000,2972000,998000,2952000,4199000,0,0,0
3,Phosphorus,200572000,236919000,1028360000,76298000,139067000,180515000,154238000,271929000,605470000,...,788079000,811508000,1301709000,1120221000,848247000,895066000,979934000,0,0,0
4,Graphite,6739000,8264000,5168000,2043000,1942000,2012000,1987000,2387000,2718000,...,15778000,11424000,13882000,13256000,12532000,12608000,13364000,0,0,0

In [26]:
# Monthly Production Data 
d = []
for i in range(9):
    d.append(data.iloc[2,i*12+1:i*12+13].values)
tin["Monthly_Production"] = d
d

[array([702000, 449000, 408000, 726000, 616000, 303000, 457000, 477000,
        808000, 2222000, 1219000, 674000], dtype=object),
 array([1059000, 993000, 584000, 567000, 466000, 351000, 523000, 1150000,
        1618000, 2275000, 1137000, 893000], dtype=object),
 array([1771000, 1929000, 1159000, 633000, 487000, 1115000, 807000, 994000,
        586000, 1350000, 1042000, 505000], dtype=object),
 array([900000, 836000, 359000, 288000, 283000, 278000, 246000, 302000,
        544000, 1710000, 983000, 636000], dtype=object),
 array([1267000, 1015000, 1860000, 480000, 355000, 319000, 261000, 269000,
        630000, 4680000, 2911000, 2637000], dtype=object),
 array([6280000, 8094000, 5201000, 3174000, 3061000, 3564000, 2881000,
        6464000, 12198000, 7281000, 2020000, 1838000], dtype=object),
 array([3423000, 2628000, 3318000, 1462000, 1591000, 1703000, 991000,
        1391000, 830000, 4133000, 2465000, 1170000], dtype=object),
 array([1229000, 126000, 250000, 184000, 280000, 296000, 350000, 514000,
        169000, 272000, 215000, 222000], dtype=object),
 array([3559000, 2972000, 1038000, 468000, 3559000, 2972000, 998000,
        2952000, 4199000, 0, 0, 0], dtype=object)]

In [27]:
data_state = pd.read_excel('./Data/Statewise production.xlsx', sheet_name='Tin').fillna(0)
data_state.head()
states = data_state.iloc[1:,0].values
print(states)
d = []
for i in range(9):
    dat={}
    for row in range(len(states)):
        # dat.append({states[row]: data_state.iloc[row+1, i*12+1:i*12+13].values})
        dat[states[row]] = data_state.iloc[row+1, i*12+1:i*12+13].values
    d.append(dat)
tin["State of Production"] = d
tin

['Chhattisgarh']

,Monthly_Production,State of Production
0,"[702000, 449000, 408000, 726000, 616000, 30300...","{'Chhattisgarh': [702000, 449000, 408000, 7260..."
1,"[1059000, 993000, 584000, 567000, 466000, 3510...","{'Chhattisgarh': [1059000, 993000, 584000, 567..."
2,"[1771000, 1929000, 1159000, 633000, 487000, 11...","{'Chhattisgarh': [1771000, 1929000, 1159000, 6..."
3,"[900000, 836000, 359000, 288000, 283000, 27800...","{'Chhattisgarh': [836000, 900000, 359000, 2880..."
4,"[1267000, 1015000, 1860000, 480000, 355000, 31...","{'Chhattisgarh': [1267000, 1015000, 1860000, 4..."
5,"[6280000, 8094000, 5201000, 3174000, 3061000, ...","{'Chhattisgarh': [6280000, 8094000, 5201000, 3..."
6,"[3423000, 2628000, 3318000, 1462000, 1591000, ...","{'Chhattisgarh': [3423000, 2628000, 3318000, 1..."
7,"[1229000, 126000, 250000, 184000, 280000, 2960...","{'Chhattisgarh': [1229000, 126000, 250000, 184..."
8,"[3559000, 2972000, 1038000, 468000, 3559000, 2...","{'Chhattisgarh': [3559000, 2972000, 1362000, 4..."

In [28]:
# yearly exprort import 
exim  = pd.read_excel('./Data/Yaerwise EX-IM trade.xlsx').fillna(0)
exim_ = []
for i in range(9):
    exim_.append(exim.iloc[15,i*2+2:i*2+4].values)
# exim.iloc[15,:]
tin["Yearly_Export_Import(dollar)"] = exim_
tin

,Monthly_Production,State of Production,Yearly_Export_Import(dollar)
0,"[702000, 449000, 408000, 726000, 616000, 30300...","{'Chhattisgarh': [702000, 449000, 408000, 7260...","[11.079999999999998, 243.86]"
1,"[1059000, 993000, 584000, 567000, 466000, 3510...","{'Chhattisgarh': [1059000, 993000, 584000, 567...","[9.82, 223.70000000000002]"
2,"[1771000, 1929000, 1159000, 633000, 487000, 11...","{'Chhattisgarh': [1771000, 1929000, 1159000, 6...","[9.809999999999999, 212.08999999999997]"
3,"[900000, 836000, 359000, 288000, 283000, 27800...","{'Chhattisgarh': [836000, 900000, 359000, 2880...","[9.93, 197.92]"
4,"[1267000, 1015000, 1860000, 480000, 355000, 31...","{'Chhattisgarh': [1267000, 1015000, 1860000, 4...","[19.32, 379.86]"
5,"[6280000, 8094000, 5201000, 3174000, 3061000, ...","{'Chhattisgarh': [6280000, 8094000, 5201000, 3...","[11.41, 400.4]"
6,"[3423000, 2628000, 3318000, 1462000, 1591000, ...","{'Chhattisgarh': [3423000, 2628000, 3318000, 1...","[17.29, 339.12999999999994]"
7,"[1229000, 126000, 250000, 184000, 280000, 2960...","{'Chhattisgarh': [1229000, 126000, 250000, 184...","[22.86, 494.33]"
8,"[3559000, 2972000, 1038000, 468000, 3559000, 2...","{'Chhattisgarh': [3559000, 2972000, 1362000, 4...",[]

## for copper

In [29]:
data = pd.read_excel('./Data/Month-wise production.xlsx').fillna(0)
copper = pd.DataFrame()

data.iloc[1,:]

Unnamed: 0      Copper Conc
YEAR 2017         677973000
Unnamed: 2        563372000
Unnamed: 3        722886000
Unnamed: 4        458581000
                   ...
Unnamed: 104     1152249000
Unnamed: 105     1142541000
Unnamed: 106              0
Unnamed: 107              0
Unnamed: 108              0
Name: 1, Length: 109, dtype: object

In [30]:
# Monthly Production Data 
d = []
for i in range(9):
    d.append(data.iloc[1,i*12+1:i*12+13].values)
copper["Monthly_Production"] = d
print(d)
copper

[array([677973000, 563372000, 722886000, 458581000, 558438000, 572409000,
       587144000, 509513000, 658014000, 630353000, 662184000, 791844000],
      dtype=object), array([768973000, 684118000, 863190000, 711094000, 1036544000, 712040,
       724901000, 692703000, 325720000, 354196000, 768526000, 620611000],
      dtype=object), array([700603000, 738627000, 795379000, 726188000, 650350000, 659056000,
       735813000, 731184000, 883824000, 695368000, 571959000, 723097000],
      dtype=object), array([779138000, 676714000, 605841000, 196068000, 587448000, 573468000,
       707632000, 764060000, 646023000, 698586000, 785860000, 862765000],
      dtype=object), array([922667000, 954018000, 971543000, 809168000, 975434000, 965787000,
       747309000, 761374000, 757363000, 919865000, 961636000, 962798000],
      dtype=object), array([1116283000, 980117000, 993978000, 851084000, 8896300000, 961233000,
       816945000, 777936000, 881905000, 894008000, 905347000, 1002357000],
      dtype=object), array([939495000, 912198000, 1330054000, 912575000, 971060000, 940279000,
       1069922000, 1027523000, 67714000, 949444000, 971912000, 1235108000],
      dtype=object), array([1339091000, 1166231000, 1491796000, 1204970000, 1275807000,
       992813000, 928791000, 959453000, 940536000, 894340000, 921361000,
       850208000], dtype=object), array([942199000, 794873000, 1105404000, 763917000, 942199000, 794873000,
       1105315000, 1152249000, 1142541000, 0, 0, 0], dtype=object)]

                                  Monthly_Production
0  [677973000, 563372000, 722886000, 458581000, 5...
1  [768973000, 684118000, 863190000, 711094000, 1...
2  [700603000, 738627000, 795379000, 726188000, 6...
3  [779138000, 676714000, 605841000, 196068000, 5...
4  [922667000, 954018000, 971543000, 809168000, 9...
5  [1116283000, 980117000, 993978000, 851084000, ...
6  [939495000, 912198000, 1330054000, 912575000, ...
7  [1339091000, 1166231000, 1491796000, 120497000...
8  [942199000, 794873000, 1105404000, 763917000, ...

In [31]:
data_state = pd.read_excel('./Data/Statewise production.xlsx', sheet_name='Copper').fillna(0)
data_state.head()
states = data_state.iloc[1:,0].values
print(states)
d= []
for i in range(9):
    dat = {}
    for row in range(3):
        # dat.append({states[row]:data_state.iloc[row+1,i*12+1:i*12+13].values})
        dat[states[row]] = data_state.iloc[row+1,i*12+1:i*12+13].values
    d.append(dat)
copper["State of Production"] = d
copper

['Madhya Pradesh' 'Rajasthan' 'Jharkhand']

,Monthly_Production,State of Production
0,"[677973000, 563372000, 722886000, 458581000, 5...","{'Madhya Pradesh': [303082000, 265812000, 2400..."
1,"[768973000, 684118000, 863190000, 711094000, 1...","{'Madhya Pradesh': [313348000, 266510000, 4459..."
2,"[700603000, 738627000, 795379000, 726188000, 6...","{'Madhya Pradesh': [331077000, 340419000, 3436..."
3,"[779138000, 676714000, 605841000, 196068000, 5...","{'Madhya Pradesh': [442230000, 396012000, 4166..."
4,"[922667000, 954018000, 971543000, 809168000, 9...","{'Madhya Pradesh': [494901000, 522158000, 4918..."
5,"[1116283000, 980117000, 993978000, 851084000, ...","{'Madhya Pradesh': [570379000, 528841000, 5137..."
6,"[939495000, 912198000, 1330054000, 912575000, ...","{'Madhya Pradesh': [481123000, 505384000, 7247..."
7,"[1339091000, 1166231000, 1491796000, 120497000...","{'Madhya Pradesh': [724136000, 598834000, 7968..."
8,"[942199000, 794873000, 1105404000, 763917000, ...","{'Madhya Pradesh': [729924000, 611058000, 7968..."

In [32]:
# yearly exprort import 
exim  = pd.read_excel('./Data/Yaerwise EX-IM trade.xlsx').fillna(0)
exim_ = []
for i in range(9):
    exim_.append(exim.iloc[25,i*2+2:i*2+4].values)
# exim.iloc[15,:]
copper["Yearly_Export_Import(dollar)"] = exim_
copper
# exim_

,Monthly_Production,State of Production,Yearly_Export_Import(dollar)
0,"[677973000, 563372000, 722886000, 458581000, 5...","{'Madhya Pradesh': [303082000, 265812000, 2400...","[3481.36, 4575.12]"
1,"[768973000, 684118000, 863190000, 711094000, 1...","{'Madhya Pradesh': [313348000, 266510000, 4459...","[1067.35, 5346.72]"
2,"[700603000, 738627000, 795379000, 726188000, 6...","{'Madhya Pradesh': [331077000, 340419000, 3436...","[919.05, 5147.09]"
3,"[779138000, 676714000, 605841000, 196068000, 5...","{'Madhya Pradesh': [442230000, 396012000, 4166...","[1444.11, 4665.36]"
4,"[922667000, 954018000, 971543000, 809168000, 9...","{'Madhya Pradesh': [494901000, 522158000, 4918...","[2429.56, 7114.07]"
5,"[1116283000, 980117000, 993978000, 851084000, ...","{'Madhya Pradesh': [570379000, 528841000, 5137...","[1848.54, 7688.41]"
6,"[939495000, 912198000, 1330054000, 912575000, ...","{'Madhya Pradesh': [481123000, 505384000, 7247...","[2526.23, 9294.75]"
7,"[1339091000, 1166231000, 1491796000, 120497000...","{'Madhya Pradesh': [724136000, 598834000, 7968...","[2320.58, 10806.22]"
8,"[942199000, 794873000, 1105404000, 763917000, ...","{'Madhya Pradesh': [729924000, 611058000, 7968...",[]

## For Grapphite

In [33]:
data = pd.read_excel('./Data/Month-wise production.xlsx').fillna(0)
graphite = pd.DataFrame()

data.iloc[4,:]

Unnamed: 0      Graphite
YEAR 2017        6739000
Unnamed: 2       8264000
Unnamed: 3       5168000
Unnamed: 4       2043000
                  ...
Unnamed: 104    12608000
Unnamed: 105    13364000
Unnamed: 106           0
Unnamed: 107           0
Unnamed: 108           0
Name: 4, Length: 109, dtype: object

In [34]:
d = []
for i in range(9):
    d.append(data.iloc[4,i*12+1:i*12+13].values)
graphite["Monthly_Production"] = d
print(d)
graphite

[array([6739000, 8264000, 5168000, 2043000, 1942000, 2012000, 1987000,
       2387000, 2718000, 1922000, 1218000, 1634000], dtype=object), array([2514000, 2650000, 2540000, 2699000, 3603000, 2704000, 2504000,
       1210000, 3324000, 4200000, 3588000, 3640000], dtype=object), array([2077000, 3328000, 4838000, 7217000, 6917000, 5774000, 5579000,
       2667000, 3342000, 3456000, 2887000, 2395000], dtype=object), array([7053000, 6963000, 3255000, 214000, 2334000, 6454000, 5114000,
       4244000, 2795000, 5525000, 3948000, 6843000], dtype=object), array([6715000, 7503000, 8355000, 8080000, 4742000, 6570000, 6907000,
       8316000, 6445000, 7755000, 6916000, 4191000], dtype=object), array([7304000, 5057000, 21980000, 13601000, 12127000, 12860000, 31040000,
       13283000, 8743000, 10290000, 11213000, 13095000], dtype=object), array([12840000, 23068000, 21283000, 12859000, 17044000, 16226000,
       522707000, 697887000, 11724000, 12289000, 15597000, 19352000],
      dtype=object), array([24142000, 29441000, 44336000, 6282000, 8863000, 7040000, 10354000,
       10091000, 9240000, 12200000, 13372000, 12807000], dtype=object), array([13882000, 13256000, 15778000, 11424000, 13882000, 13256000,
       12532000, 12608000, 13364000, 0, 0, 0], dtype=object)]

                                  Monthly_Production
0  [6739000, 8264000, 5168000, 2043000, 1942000, ...
1  [2514000, 2650000, 2540000, 2699000, 3603000, ...
2  [2077000, 3328000, 4838000, 7217000, 6917000, ...
3  [7053000, 6963000, 3255000, 214000, 2334000, 6...
4  [6715000, 7503000, 8355000, 8080000, 4742000, ...
5  [7304000, 5057000, 21980000, 13601000, 1212700...
6  [12840000, 23068000, 21283000, 12859000, 17044...
7  [24142000, 29441000, 44336000, 6282000, 886300...
8  [13882000, 13256000, 15778000, 11424000, 13882...

In [35]:
data_state = pd.read_excel('./Data/Statewise production.xlsx', sheet_name='Graphite').fillna(0)
data_state.head()
states = data_state.iloc[1:,0].values
print(states)
d = []
for i in range(9):
    dat={}
    for row in range(len(states)):
        # dat.append({states[row]: data_state.iloc[row+1, i*12+1:i*12+13].values})
        dat[states[row]] = data_state.iloc[row+1, i*12+1:i*12+13].values
    d.append(dat)
graphite["State of Production"] = d
graphite
# d

['Chhattisgarh' 'Jharkhand' 'Karnataka' 'Kerala' 'Odisha' 'Tamil Nadu']

,Monthly_Production,State of Production
0,"[6739000, 8264000, 5168000, 2043000, 1942000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
1,"[2514000, 2650000, 2540000, 2699000, 3603000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
2,"[2077000, 3328000, 4838000, 7217000, 6917000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,"[7053000, 6963000, 3255000, 214000, 2334000, 6...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
4,"[6715000, 7503000, 8355000, 8080000, 4742000, ...","{'Chhattisgarh': [490000, 545000, 730000, 0, 0..."
5,"[7304000, 5057000, 21980000, 13601000, 1212700...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
6,"[12840000, 23068000, 21283000, 12859000, 17044...","{'Chhattisgarh': [0, 0, 0, 0, 0, 612000, 0, 0,..."
7,"[24142000, 29441000, 44336000, 6282000, 886300...","{'Chhattisgarh': [0, 627000, 0, 0, 0, 0, 0, 0,..."
8,"[13882000, 13256000, 15778000, 11424000, 13882...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 2300..."

In [36]:
exim  = pd.read_excel('./Data/Yaerwise EX-IM trade.xlsx').fillna(0)
exim_ = []
for i in range(9):
    exim_.append(exim.iloc[6,i*2+2:i*2+4].values)
# exim.iloc[15,:]
graphite["Yearly_Export_Import(dollar)"] = exim_
graphite

,Monthly_Production,State of Production,Yearly_Export_Import(dollar)
0,"[6739000, 8264000, 5168000, 2043000, 1942000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[40.01, 120.03999999999999]"
1,"[2514000, 2650000, 2540000, 2699000, 3603000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[54.41, 129.15]"
2,"[2077000, 3328000, 4838000, 7217000, 6917000, ...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[50.6, 95.28999999999999]"
3,"[7053000, 6963000, 3255000, 214000, 2334000, 6...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[38.62, 97.64999999999999]"
4,"[6715000, 7503000, 8355000, 8080000, 4742000, ...","{'Chhattisgarh': [490000, 545000, 730000, 0, 0...","[55.470000000000006, 144.64]"
5,"[7304000, 5057000, 21980000, 13601000, 1212700...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0...","[53.04, 185.6]"
6,"[12840000, 23068000, 21283000, 12859000, 17044...","{'Chhattisgarh': [0, 0, 0, 0, 0, 612000, 0, 0,...","[59.96, 165.53]"
7,"[24142000, 29441000, 44336000, 6282000, 886300...","{'Chhattisgarh': [0, 627000, 0, 0, 0, 0, 0, 0,...","[62.33, 146.83]"
8,"[13882000, 13256000, 15778000, 11424000, 13882...","{'Chhattisgarh': [0, 0, 0, 0, 0, 0, 0, 0, 2300...",[]

## For Phosphorus

In [37]:
data = pd.read_excel('./Data/Month-wise production.xlsx').fillna(0)
phosphorus = pd.DataFrame()

data.iloc[3,:]

Unnamed: 0      Phosphorus
YEAR 2017        200572000
Unnamed: 2       236919000
Unnamed: 3      1028360000
Unnamed: 4        76298000
                   ...
Unnamed: 104     895066000
Unnamed: 105     979934000
Unnamed: 106             0
Unnamed: 107             0
Unnamed: 108             0
Name: 3, Length: 109, dtype: object

In [38]:
d = []
for i in range(9):
    d.append(data.iloc[3,i*12+1:i*12+13].values)
phosphorus["Monthly_Production"] = d
print(d)
phosphorus

[array([200572000, 236919000, 1028360000, 76298000, 139067000, 180515000,
       154238000, 271929000, 605470000, 277133000, 495343000, 405505000],
      dtype=object), array([489261000, 269747000, 407078000, 76545000, 309726000, 482520000,
       371259000, 313310000, 97379000, 307020000, 51510000, 316180000],
      dtype=object), array([316704000, 432048000, 473384000, 224312000, 343070000, 338498000,
       475868000, 113686000, 322870000, 407489000, 423052000, 503448000],
      dtype=object), array([449227000, 386387000, 331190000, 6053000, 310572000, 531731000,
       469299000, 378186000, 497514000, 635507000, 503628000, 566327000],
      dtype=object), array([557146000, 381585000, 604438000, 540430000, 278790000, 694582000,
       553098000, 730899000, 440998000, 615500000, 674989000, 660082000],
      dtype=object), array([736246000, 669535000, 1021331000, 742125000, 1015367000,
       1186670000, 1210725000, 491189000, 1028635000, 1114538000,
       1460185000, 1186919000], dtype=object), array([1301830000, 939869000, 1226484000, 968656000, 1175919000,
       880808000, 12461000, 9088000, 702916000, 646002000, 855283000,
       769914000], dtype=object), array([919077000, 1592653000, 1577942000, 360802000, 913069000, 501650000,
       843292000, 995246000, 1039840000, 1754105000, 1324847000,
       1197500000], dtype=object), array([1301709000, 1120221000, 788079000, 811508000, 1301709000,
       1120221000, 848247000, 895066000, 979934000, 0, 0, 0], dtype=object)]

                                  Monthly_Production
0  [200572000, 236919000, 1028360000, 76298000, 1...
1  [489261000, 269747000, 407078000, 76545000, 30...
2  [316704000, 432048000, 473384000, 224312000, 3...
3  [449227000, 386387000, 331190000, 6053000, 310...
4  [557146000, 381585000, 604438000, 540430000, 2...
5  [736246000, 669535000, 1021331000, 742125000, ...
6  [1301830000, 939869000, 1226484000, 968656000,...
7  [919077000, 1592653000, 1577942000, 360802000,...
8  [1301709000, 1120221000, 788079000, 811508000,...

In [39]:
data_state = pd.read_excel('./Data/Statewise production.xlsx', sheet_name='Phosphorus').fillna(0)
data_state.head()
states = data_state.iloc[1:,0].values
print(states)
d = []
for i in range(9):
    dat={}
    for row in range(len(states)):
        # dat.append({states[row]: data_state.iloc[row+1, i*12+1:i*12+13].values})
        dat[states[row]] = data_state.iloc[row+1, i*12+1:i*12+13].values
    d.append(dat)
phosphorus["State of Production"] = d
phosphorus

['Madhya Pradesh' 'Rajasthan']

,Monthly_Production,State of Production
0,"[200572000, 236919000, 1028360000, 76298000, 1...","{'Madhya Pradesh': [3014000, 6710000, 8499000,..."
1,"[489261000, 269747000, 407078000, 76545000, 30...","{'Madhya Pradesh': [15461000, 12325000, 0, 0, ..."
2,"[316704000, 432048000, 473384000, 224312000, 3...","{'Madhya Pradesh': [7063000, 8487000, 0, 78730..."
3,"[449227000, 386387000, 331190000, 6053000, 310...","{'Madhya Pradesh': [12596000, 3769000, 620000,..."
4,"[557146000, 381585000, 604438000, 540430000, 2...","{'Madhya Pradesh': [2228000, 2134000, 2256000,..."
5,"[736246000, 669535000, 1021331000, 742125000, ...","{'Madhya Pradesh': [9696000, 15397000, 2009200..."
6,"[1301830000, 939869000, 1226484000, 968656000,...","{'Madhya Pradesh': [48500000, 53618000, 803330..."
7,"[919077000, 1592653000, 1577942000, 360802000,...","{'Madhya Pradesh': [46825000, 39667000, 300790..."
8,"[1301709000, 1120221000, 788079000, 811508000,...","{'Madhya Pradesh': [82600000, 82878000, 702320..."

In [40]:
exim  = pd.read_excel('./Data/Yaerwise EX-IM trade.xlsx').fillna(0)
exim_ = []
for i in range(9):
    exim_.append(exim.iloc[22,i*2+2:i*2+4].values)
# exim.iloc[15,:]
# exim_
phosphorus["Yearly_Export_Import(dollar)"] = exim_
phosphorus

,Monthly_Production,State of Production,Yearly_Export_Import(dollar)
0,"[200572000, 236919000, 1028360000, 76298000, 1...","{'Madhya Pradesh': [3014000, 6710000, 8499000,...","[2.89, 0.8]"
1,"[489261000, 269747000, 407078000, 76545000, 30...","{'Madhya Pradesh': [15461000, 12325000, 0, 0, ...","[3.3, 0.96]"
2,"[316704000, 432048000, 473384000, 224312000, 3...","{'Madhya Pradesh': [7063000, 8487000, 0, 78730...","[3.7199999999999998, 0.3]"
3,"[449227000, 386387000, 331190000, 6053000, 310...","{'Madhya Pradesh': [12596000, 3769000, 620000,...","[4.5, 0.66]"
4,"[557146000, 381585000, 604438000, 540430000, 2...","{'Madhya Pradesh': [2228000, 2134000, 2256000,...","[11.02, 0.47]"
5,"[736246000, 669535000, 1021331000, 742125000, ...","{'Madhya Pradesh': [9696000, 15397000, 2009200...","[12.37, 0.09]"
6,"[1301830000, 939869000, 1226484000, 968656000,...","{'Madhya Pradesh': [48500000, 53618000, 803330...","[8.88, 0.16]"
7,"[919077000, 1592653000, 1577942000, 360802000,...","{'Madhya Pradesh': [46825000, 39667000, 300790...","[8.22, 0.49]"
8,"[1301709000, 1120221000, 788079000, 811508000,...","{'Madhya Pradesh': [82600000, 82878000, 702320...",[]

## Save Data

In [41]:
with pd.ExcelWriter("mineral_data.xlsx", engine='openpyxl') as writer:
    tin.to_excel(writer, sheet_name='Tin', index=False)
    copper.to_excel(writer, sheet_name='Copper', index=False)
    phosphorus.to_excel(writer, sheet_name='Phosphorus', index=False)
    graphite.to_excel(writer, sheet_name='Graphite', index=False)

## Contry Wise Data Import Export

In [27]:
c_ex = pd.DataFrame()
c_im = pd.DataFrame()
# EX-IM data

In [28]:


def c_exim(path,n=1):
    g_17 = pd.read_excel(path).fillna(0)
    # g_17
    if n==1:
    
        country = g_17.iloc[2:-1,1].values.astype(str)
        exp_usmillion = g_17.iloc[2:-1,2].values.astype(float)
        exp_volume = g_17.iloc[2:-1,5].values.astype(float)
        return country, exp_usmillion, exp_volume
    else:
        country = g_17.iloc[2:-1,1].values.astype(str)
        imp_usmillion = g_17.iloc[2:-1,3].values.astype(float)
        imp_volume = g_17.iloc[2:-1,6].values.astype(float)
        return country, imp_usmillion, imp_volume

### Export

#### Graphite

In [29]:
## Graphite 25041010
g_17_country, g_17_exp_usmillion, g_17_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2018-2019_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_18_country, g_18_exp_usmillion, g_18_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2019-2020_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_19_country, g_19_exp_usmillion, g_19_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2020-2021_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_20_country, g_20_exp_usmillion, g_20_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2021-2022_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_21_country, g_21_exp_usmillion, g_21_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2022-2023_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx') 
g_22_country, g_22_exp_usmillion, g_22_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2023-2024_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_23_country, g_23_exp_usmillion, g_23_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2024-2025_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_24_country, g_24_exp_usmillion, g_24_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx')
g_25_country, g_25_exp_usmillion, g_25_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_25041010.xlsx',n=2)
# print(g_17_country)
g_25041010_country = [g_17_country, g_18_country, g_19_country, g_20_country, g_21_country, g_22_country, g_23_country, g_24_country, g_25_country]
g_25041010_exp_usmillion = [g_17_exp_usmillion, g_18_exp_usmillion, g_19_exp_usmillion, g_20_exp_usmillion, g_21_exp_usmillion, g_22_exp_usmillion, g_23_exp_usmillion, g_24_exp_usmillion,g_25_exp_usmillion]
g_25041010_exp_volume = [g_17_exp_volume, g_18_exp_volume, g_19_exp_volume, g_20_exp_volume, g_21_exp_volume, g_22_exp_volume, g_23_exp_volume, g_24_exp_volume,g_25_exp_volume]
# g_25041010_country

In [30]:
## Graphite 25041020
g2_17_country, g2_17_exp_usmillion, g2_17_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2018-2019_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_18_country, g2_18_exp_usmillion, g2_18_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2019-2020_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_19_country, g2_19_exp_usmillion, g2_19_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2020-2021_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_20_country, g2_20_exp_usmillion, g2_20_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2021-2022_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_21_country, g2_21_exp_usmillion, g2_21_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2022-2023_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_22_country, g2_22_exp_usmillion, g2_22_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2023-2024_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_23_country, g2_23_exp_usmillion, g2_23_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2024-2025_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_24_country, g2_24_exp_usmillion, g2_24_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx')
g2_25_country, g2_25_exp_usmillion, g2_25_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_25041020\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_25041020.xlsx',n=2)
# print(g2_17_country)
g_25041020_country = [g2_17_country, g2_18_country, g2_19_country, g2_20_country, g2_21_country, g2_22_country, g2_23_country, g2_24_country, g2_25_country]
g_25041020_exp_usmillion = [g2_17_exp_usmillion, g2_18_exp_usmillion, g2_19_exp_usmillion, g2_20_exp_usmillion, g2_21_exp_usmillion, g2_22_exp_usmillion, g2_23_exp_usmillion, g2_24_exp_usmillion,g2_25_exp_usmillion]
g_25041020_exp_volume = [g2_17_exp_volume, g2_18_exp_volume, g2_19_exp_volume, g2_20_exp_volume, g2_21_exp_volume, g2_22_exp_volume, g2_23_exp_volume, g2_24_exp_volume,g2_25_exp_volume]

In [31]:
## Graphite 38011000
g3_17_country, g3_17_exp_usmillion, g3_17_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2018-2019_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_18_country, g3_18_exp_usmillion, g3_18_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2019-2020_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_19_country, g3_19_exp_usmillion, g3_19_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2020-2021_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_20_country, g3_20_exp_usmillion, g3_20_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2021-2022_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_21_country, g3_21_exp_usmillion, g3_21_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2022-2023_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_22_country, g3_22_exp_usmillion, g3_22_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2023-2024_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_23_country, g3_23_exp_usmillion, g3_23_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2024-2025_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_24_country, g3_24_exp_usmillion, g3_24_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx')
g3_25_country, g3_25_exp_usmillion, g3_25_exp_volume = c_exim(r'Data\EIDB\Export\Graphite\Graphite_38011000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Graphite_38011000.xlsx',n=2)
# print(g3_17_country)
g_38011000_country = [g3_17_country, g3_18_country, g3_19_country, g3_20_country, g3_21_country, g3_22_country, g3_23_country, g3_24_country, g3_25_country]
g_38011000_exp_usmillion = [g3_17_exp_usmillion, g3_18_exp_usmillion, g3_19_exp_usmillion, g3_20_exp_usmillion, g3_21_exp_usmillion, g3_22_exp_usmillion, g3_23_exp_usmillion, g3_24_exp_usmillion,g3_25_exp_usmillion]
g_38011000_exp_volume = [g3_17_exp_volume, g3_18_exp_volume, g3_19_exp_volume, g3_20_exp_volume, g3_21_exp_volume, g3_22_exp_volume, g3_23_exp_volume, g3_24_exp_volume,g3_25_exp_volume]

#### Titenium

In [32]:
# Titenium 26140020
t_17_country , t_17_exp_usmillion, t_17_exp_volume = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx')
t_18_country, t_18_exp_usmillion ,t_18_exp_volume  = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx')
t_19_country,t_19_exp_usmillion,t_19_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_20_country,t_20_exp_usmillion,t_20_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_21_country,t_21_exp_usmillion,t_21_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_22_country,t_22_exp_usmillion,t_22_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_23_country,t_23_exp_usmillion,t_23_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_24_country,t_24_exp_usmillion,t_24_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx")
t_25_country,t_25_exp_usmillion,t_25_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_26140020.xlsx",n=2)
t_26140020_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_26140020_exp_usmillion = [t_17_exp_usmillion, t_18_exp_usmillion, t_19_exp_usmillion, t_20_exp_usmillion, t_21_exp_usmillion, t_22_exp_usmillion, t_23_exp_usmillion, t_24_exp_usmillion,t_25_exp_usmillion]
t_26140020_exp_volume = [t_17_exp_volume, t_18_exp_volume, t_19_exp_volume, t_20_exp_volume, t_21_exp_volume, t_22_exp_volume, t_23_exp_volume, t_24_exp_volume,t_25_exp_volume]

In [33]:
# Titenium 28230010
t_17_country , t_17_exp_usmillion, t_17_exp_volume = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx')
t_18_country, t_18_exp_usmillion ,t_18_exp_volume  = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx')
t_19_country,t_19_exp_usmillion,t_19_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_20_country,t_20_exp_usmillion,t_20_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_21_country,t_21_exp_usmillion,t_21_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_22_country,t_22_exp_usmillion,t_22_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_23_country,t_23_exp_usmillion,t_23_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_24_country,t_24_exp_usmillion,t_24_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx")
t_25_country,t_25_exp_usmillion,t_25_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_28230010.xlsx",n=2)
t_28230010_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_28230010_exp_usmillion = [t_17_exp_usmillion, t_18_exp_usmillion, t_19_exp_usmillion, t_20_exp_usmillion, t_21_exp_usmillion, t_22_exp_usmillion, t_23_exp_usmillion, t_24_exp_usmillion,t_25_exp_usmillion]
t_28230010_exp_volume = [t_17_exp_volume, t_18_exp_volume, t_19_exp_volume, t_20_exp_volume, t_21_exp_volume, t_22_exp_volume, t_23_exp_volume, t_24_exp_volume,t_25_exp_volume]

In [34]:
# Titenium 81082000
t_17_country , t_17_exp_usmillion, t_17_exp_volume = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx')
t_18_country, t_18_exp_usmillion ,t_18_exp_volume  = c_exim(r'Data\EIDB\Export\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx')
t_19_country,t_19_exp_usmillion,t_19_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_20_country,t_20_exp_usmillion,t_20_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_21_country,t_21_exp_usmillion,t_21_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_22_country,t_22_exp_usmillion,t_22_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_23_country,t_23_exp_usmillion,t_23_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_24_country,t_24_exp_usmillion,t_24_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx")
t_25_country,t_25_exp_usmillion,t_25_exp_volume = c_exim(r"Data\EIDB\Export\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Ti_81082000.xlsx",n=2)
t_81082000_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_81082000_exp_usmillion = [t_17_exp_usmillion, t_18_exp_usmillion, t_19_exp_usmillion, t_20_exp_usmillion, t_21_exp_usmillion, t_22_exp_usmillion, t_23_exp_usmillion, t_24_exp_usmillion,t_25_exp_usmillion]
t_81082000_exp_volume = [t_17_exp_volume, t_18_exp_volume, t_19_exp_volume, t_20_exp_volume, t_21_exp_volume, t_22_exp_volume, t_23_exp_volume, t_24_exp_volume,t_25_exp_volume]

#### Lithium

In [35]:
# Lithium 28369100
l_17_country , l_17_exp_usmillion, l_17_exp_volume = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx')
l_18_country, l_18_exp_usmillion ,l_18_exp_volume  = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx')
l_19_country,l_19_exp_usmillion,l_19_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_20_country,l_20_exp_usmillion,l_20_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_21_country,l_21_exp_usmillion,l_21_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_22_country,l_22_exp_usmillion,l_22_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_23_country,l_23_exp_usmillion,l_23_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_24_country,l_24_exp_usmillion,l_24_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx")
l_25_country,l_25_exp_usmillion,l_25_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_28369100.xlsx",n=2)
l_28369100_country = [l_17_country, l_18_country, l_19_country, l_20_country, l_21_country, l_22_country, l_23_country, l_24_country, l_25_country]
l_28369100_exp_usmillion = [l_17_exp_usmillion, l_18_exp_usmillion, l_19_exp_usmillion, l_20_exp_usmillion, l_21_exp_usmillion, l_22_exp_usmillion, l_23_exp_usmillion, l_24_exp_usmillion,l_25_exp_usmillion]
l_28369100_exp_volume = [l_17_exp_volume, l_18_exp_volume, l_19_exp_volume, l_20_exp_volume, l_21_exp_volume, l_22_exp_volume, l_23_exp_volume, l_24_exp_volume,l_25_exp_volume]

In [36]:
# Lithium 25309099
l2_17_country , l2_17_exp_usmillion, l2_17_exp_volume = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx')
l2_18_country, l2_18_exp_usmillion ,l2_18_exp_volume  = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx')
l2_19_country,l2_19_exp_usmillion,l2_19_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_20_country,l2_20_exp_usmillion,l2_20_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_21_country,l2_21_exp_usmillion,l2_21_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_22_country,l2_22_exp_usmillion,l2_22_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_23_country,l2_23_exp_usmillion,l2_23_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_24_country,l2_24_exp_usmillion,l2_24_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx")
l2_25_country,l2_25_exp_usmillion,l2_25_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_25309099.xlsx",n=2)
l_25309099_country = [l2_17_country, l2_18_country, l2_19_country, l2_20_country, l2_21_country, l2_22_country, l2_23_country, l2_24_country, l2_25_country]
l_25309099_exp_usmillion = [l2_17_exp_usmillion, l2_18_exp_usmillion, l2_19_exp_usmillion, l2_20_exp_usmillion, l2_21_exp_usmillion, l2_22_exp_usmillion, l2_23_exp_usmillion, l2_24_exp_usmillion,l2_25_exp_usmillion]
l_25309099_exp_volume = [l2_17_exp_volume, l2_18_exp_volume, l2_19_exp_volume, l2_20_exp_volume, l2_21_exp_volume, l2_22_exp_volume, l2_23_exp_volume, l2_24_exp_volume,l2_25_exp_volume]

In [37]:
# Lithium 28252000
l3_17_country , l3_17_exp_usmillion, l3_17_exp_volume = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx')
l3_18_country, l3_18_exp_usmillion ,l3_18_exp_volume  = c_exim(r'Data\EIDB\Export\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx')
l3_19_country,l3_19_exp_usmillion,l3_19_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_20_country,l3_20_exp_usmillion,l3_20_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_21_country,l3_21_exp_usmillion,l3_21_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_22_country,l3_22_exp_usmillion,l3_22_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_23_country,l3_23_exp_usmillion,l3_23_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_24_country,l3_24_exp_usmillion,l3_24_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx")
l3_25_country,l3_25_exp_usmillion,l3_25_exp_volume = c_exim(r"Data\EIDB\Export\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Export-all-countries_Li_28252000.xlsx",n=2)
l_28252000_country = [l3_17_country, l3_18_country, l3_19_country, l3_20_country, l3_21_country, l3_22_country, l3_23_country, l3_24_country, l3_25_country]
l_28252000_exp_usmillion = [l3_17_exp_usmillion, l3_18_exp_usmillion, l3_19_exp_usmillion, l3_20_exp_usmillion, l3_21_exp_usmillion, l3_22_exp_usmillion, l3_23_exp_usmillion, l3_24_exp_usmillion,l3_25_exp_usmillion]
l_28252000_exp_volume = [l3_17_exp_volume, l3_18_exp_volume, l3_19_exp_volume, l3_20_exp_volume, l3_21_exp_volume, l3_22_exp_volume, l3_23_exp_volume, l3_24_exp_volume,l3_25_exp_volume]

#### Data Frame forming

In [38]:
minerals = ['Graphite_25041010','Graphite_25041020','Graphite_38011000',
            'Ti_26140020','Ti_28230010','Ti_81082000',
            'Li_28369100','Li_25309099','Li_28252000']
export_countries = [g_25041010_country, g_25041020_country, g_38011000_country,
                    t_26140020_country, t_28230010_country, t_81082000_country,
                    l_28369100_country, l_25309099_country, l_28252000_country]
export_usmillion = [g_25041010_exp_usmillion, g_25041020_exp_usmillion, g_38011000_exp_usmillion,
                    t_26140020_exp_usmillion, t_28230010_exp_usmillion, t_81082000_exp_usmillion,
                    l_28369100_exp_usmillion, l_25309099_exp_usmillion, l_28252000_exp_usmillion]
export_volume = [g_25041010_exp_volume, g_25041020_exp_volume, g_38011000_exp_volume,
                    t_26140020_exp_volume, t_28230010_exp_volume, t_81082000_exp_volume,
                    l_28369100_exp_volume, l_25309099_exp_volume, l_28252000_exp_volume]
c_ex['minerals'] = minerals
c_ex['countries'] = export_countries
c_ex['usmillion'] = export_usmillion
c_ex['volume'] = export_volume
# with pd.ExcelWriter("countrywise_import_export_data.xlsx", engine='openpyxl') as writer:
#     c_exim_.to_excel(writer, sheet_name='Export', index=False)
    # copper.to_excel(writer, sheet_name='Copper', index=False)
# c_exim_.to_excel(r"countrywise_import_export_data.xlsx",sheet_name='export_data',index=False)

In [39]:
# df = pd.read_excel(r"countrywise_import_export_data.xlsx",sheet_name='export_data')

# export_usmillion = eval(
# df['export_usmillion'].values[0],
# {"array": np.array, "object": object, "__builtins__": {}}
# )
# export_countries = eval(
# df['export_countries'].values[0],
# {"array": np.array, "object": object, "__builtins__": {}}
# )

### Import

#### Graphite

In [40]:
g_17_country, g_17_imp_usmillion, g_17_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2018-2019_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_18_country, g_18_imp_usmillion, g_18_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2019-2020_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_19_country, g_19_imp_usmillion, g_19_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2020-2021_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_20_country, g_20_imp_usmillion, g_20_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2021-2022_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_21_country, g_21_imp_usmillion, g_21_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2022-2023_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx') 
g_22_country, g_22_imp_usmillion, g_22_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2023-2024_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_23_country, g_23_imp_usmillion, g_23_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2024-2025_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_24_country, g_24_imp_usmillion, g_24_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx')
g_25_country, g_25_imp_usmillion, g_25_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_25041010.xlsx',n=2)
# print(g_17_country)
g_25041010_country = [g_17_country, g_18_country, g_19_country, g_20_country, g_21_country, g_22_country, g_23_country, g_24_country, g_25_country]
g_25041010_imp_usmillion = [g_17_imp_usmillion, g_18_imp_usmillion, g_19_imp_usmillion, g_20_imp_usmillion, g_21_imp_usmillion, g_22_imp_usmillion, g_23_imp_usmillion, g_24_imp_usmillion,g_25_imp_usmillion]
g_25041010_imp_volume = [g_17_imp_volume, g_18_imp_volume, g_19_imp_volume, g_20_imp_volume, g_21_imp_volume, g_22_imp_volume, g_23_imp_volume, g_24_imp_volume,g_25_imp_volume]

In [41]:
## Graphite 25041020
g2_17_country, g2_17_imp_usmillion, g2_17_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2018-2019_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_18_country, g2_18_imp_usmillion, g2_18_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2019-2020_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_19_country, g2_19_imp_usmillion, g2_19_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2020-2021_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_20_country, g2_20_imp_usmillion, g2_20_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2021-2022_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_21_country, g2_21_imp_usmillion, g2_21_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2022-2023_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_22_country, g2_22_imp_usmillion, g2_22_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2023-2024_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_23_country, g2_23_imp_usmillion, g2_23_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2024-2025_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_24_country, g2_24_imp_usmillion, g2_24_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx')
g2_25_country, g2_25_imp_usmillion, g2_25_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_25041020\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_25041020.xlsx',n=2)
# print(g2_17_country)
g_25041020_country = [g2_17_country, g2_18_country, g2_19_country, g2_20_country, g2_21_country, g2_22_country, g2_23_country, g2_24_country, g2_25_country]
g_25041020_imp_usmillion = [g2_17_imp_usmillion, g2_18_imp_usmillion, g2_19_imp_usmillion, g2_20_imp_usmillion, g2_21_imp_usmillion, g2_22_imp_usmillion, g2_23_imp_usmillion, g2_24_imp_usmillion,g2_25_imp_usmillion]
g_25041020_imp_volume = [g2_17_imp_volume, g2_18_imp_volume, g2_19_imp_volume, g2_20_imp_volume, g2_21_imp_volume, g2_22_imp_volume, g2_23_imp_volume, g2_24_imp_volume,g2_25_imp_volume]

In [42]:
## Graphite 38011000
g3_17_country, g3_17_imp_usmillion, g3_17_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2018-2019_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_18_country, g3_18_imp_usmillion, g3_18_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2019-2020_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_19_country, g3_19_imp_usmillion, g3_19_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2020-2021_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_20_country, g3_20_imp_usmillion, g3_20_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2021-2022_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_21_country, g3_21_imp_usmillion, g3_21_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2022-2023_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_22_country, g3_22_imp_usmillion, g3_22_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2023-2024_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_23_country, g3_23_imp_usmillion, g3_23_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2024-2025_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_24_country, g3_24_imp_usmillion, g3_24_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx')
g3_25_country, g3_25_imp_usmillion, g3_25_imp_volume = c_exim(r'Data\EIDB\Import\Graphite\Graphite_38011000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Graphite_38011000.xlsx',n=2)
# print(g3_17_country)
g_38011000_country = [g3_17_country, g3_18_country, g3_19_country, g3_20_country, g3_21_country, g3_22_country, g3_23_country, g3_24_country, g3_25_country]
g_38011000_imp_usmillion = [g3_17_imp_usmillion, g3_18_imp_usmillion, g3_19_imp_usmillion, g3_20_imp_usmillion, g3_21_imp_usmillion, g3_22_imp_usmillion, g3_23_imp_usmillion, g3_24_imp_usmillion,g3_25_imp_usmillion]
g_38011000_imp_volume = [g3_17_imp_volume, g3_18_imp_volume, g3_19_imp_volume, g3_20_imp_volume, g3_21_imp_volume, g3_22_imp_volume, g3_23_imp_volume, g3_24_imp_volume,g3_25_imp_volume]

#### Titenium

In [43]:
# Titenium 26140020
t_17_country , t_17_imp_usmillion, t_17_imp_volume = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx')
t_18_country, t_18_imp_usmillion ,t_18_imp_volume  = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx')
t_19_country,t_19_imp_usmillion,t_19_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_20_country,t_20_imp_usmillion,t_20_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_21_country,t_21_imp_usmillion,t_21_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_22_country,t_22_imp_usmillion,t_22_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_23_country,t_23_imp_usmillion,t_23_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_24_country,t_24_imp_usmillion,t_24_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx")
t_25_country,t_25_imp_usmillion,t_25_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_26140020.xlsx",n=2)
t_26140020_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_26140020_imp_usmillion = [t_17_imp_usmillion, t_18_imp_usmillion, t_19_imp_usmillion, t_20_imp_usmillion, t_21_imp_usmillion, t_22_imp_usmillion, t_23_imp_usmillion, t_24_imp_usmillion,t_25_imp_usmillion]
t_26140020_imp_volume = [t_17_imp_volume, t_18_imp_volume, t_19_imp_volume, t_20_imp_volume, t_21_imp_volume, t_22_imp_volume, t_23_imp_volume, t_24_imp_volume,t_25_imp_volume]

In [44]:
# Titenium 28230010
t_17_country , t_17_imp_usmillion, t_17_imp_volume = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx')
t_18_country, t_18_imp_usmillion ,t_18_imp_volume  = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx')
t_19_country,t_19_imp_usmillion,t_19_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_20_country,t_20_imp_usmillion,t_20_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_21_country,t_21_imp_usmillion,t_21_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_22_country,t_22_imp_usmillion,t_22_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_23_country,t_23_imp_usmillion,t_23_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_24_country,t_24_imp_usmillion,t_24_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx")
t_25_country,t_25_imp_usmillion,t_25_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_28230010.xlsx",n=2)
t_28230010_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_28230010_imp_usmillion = [t_17_imp_usmillion, t_18_imp_usmillion, t_19_imp_usmillion, t_20_imp_usmillion, t_21_imp_usmillion, t_22_imp_usmillion, t_23_imp_usmillion, t_24_imp_usmillion,t_25_imp_usmillion]
t_28230010_imp_volume = [t_17_imp_volume, t_18_imp_volume, t_19_imp_volume, t_20_imp_volume, t_21_imp_volume, t_22_imp_volume, t_23_imp_volume, t_24_imp_volume,t_25_imp_volume]

In [45]:
# Titenium 81082000
t_17_country , t_17_imp_usmillion, t_17_imp_volume = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2018-2019_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx')
t_18_country, t_18_imp_usmillion ,t_18_imp_volume  = c_exim(r'Data\EIDB\Import\Ti_81082000_28230010_26140010\2019-2020_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx')
t_19_country,t_19_imp_usmillion,t_19_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2020-2021_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_20_country,t_20_imp_usmillion,t_20_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2021-2022_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_21_country,t_21_imp_usmillion,t_21_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2022-2023_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_22_country,t_22_imp_usmillion,t_22_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2023-2024_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_23_country,t_23_imp_usmillion,t_23_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2024-2025_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_24_country,t_24_imp_usmillion,t_24_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx")
t_25_country,t_25_imp_usmillion,t_25_imp_volume = c_exim(r"Data\EIDB\Import\Ti_81082000_28230010_26140010\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Ti_81082000.xlsx",n=2)
t_81082000_country = [t_17_country, t_18_country, t_19_country, t_20_country, t_21_country, t_22_country, t_23_country, t_24_country, t_25_country]
t_81082000_imp_usmillion = [t_17_imp_usmillion, t_18_imp_usmillion, t_19_imp_usmillion, t_20_imp_usmillion, t_21_imp_usmillion, t_22_imp_usmillion, t_23_imp_usmillion, t_24_imp_usmillion,t_25_imp_usmillion]
t_81082000_imp_volume = [t_17_imp_volume, t_18_imp_volume, t_19_imp_volume, t_20_imp_volume, t_21_imp_volume, t_22_imp_volume, t_23_imp_volume, t_24_imp_volume,t_25_imp_volume]

#### Lithium

In [46]:
# Lithium 28369100
l_17_country , l_17_imp_usmillion, l_17_imp_volume = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx')
l_18_country, l_18_imp_usmillion ,l_18_imp_volume  = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx')
l_19_country,l_19_imp_usmillion,l_19_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_20_country,l_20_imp_usmillion,l_20_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_21_country,l_21_imp_usmillion,l_21_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_22_country,l_22_imp_usmillion,l_22_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_23_country,l_23_imp_usmillion,l_23_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_24_country,l_24_imp_usmillion,l_24_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx")
l_25_country,l_25_imp_usmillion,l_25_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_28369100.xlsx",n=2)
l_28369100_country = [l_17_country, l_18_country, l_19_country, l_20_country, l_21_country, l_22_country, l_23_country, l_24_country, l_25_country]
l_28369100_imp_usmillion = [l_17_imp_usmillion, l_18_imp_usmillion, l_19_imp_usmillion, l_20_imp_usmillion, l_21_imp_usmillion, l_22_imp_usmillion, l_23_imp_usmillion, l_24_imp_usmillion,l_25_imp_usmillion]
l_28369100_imp_volume = [l_17_imp_volume, l_18_imp_volume, l_19_imp_volume, l_20_imp_volume, l_21_imp_volume, l_22_imp_volume, l_23_imp_volume, l_24_imp_volume,l_25_imp_volume]

In [47]:
# Lithium 25309099
l2_17_country , l2_17_imp_usmillion, l2_17_imp_volume = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx')
l2_18_country, l2_18_imp_usmillion ,l2_18_imp_volume  = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx')
l2_19_country,l2_19_imp_usmillion,l2_19_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_20_country,l2_20_imp_usmillion,l2_20_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_21_country,l2_21_imp_usmillion,l2_21_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_22_country,l2_22_imp_usmillion,l2_22_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_23_country,l2_23_imp_usmillion,l2_23_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_24_country,l2_24_imp_usmillion,l2_24_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx")
l2_25_country,l2_25_imp_usmillion,l2_25_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_25309099.xlsx",n=2)
l_25309099_country = [l2_17_country, l2_18_country, l2_19_country, l2_20_country, l2_21_country, l2_22_country, l2_23_country, l2_24_country, l2_25_country]
l_25309099_imp_usmillion = [l2_17_imp_usmillion, l2_18_imp_usmillion, l2_19_imp_usmillion, l2_20_imp_usmillion, l2_21_imp_usmillion, l2_22_imp_usmillion, l2_23_imp_usmillion, l2_24_imp_usmillion,l2_25_imp_usmillion]
l_25309099_imp_volume = [l2_17_imp_volume, l2_18_imp_volume, l2_19_imp_volume, l2_20_imp_volume, l2_21_imp_volume, l2_22_imp_volume, l2_23_imp_volume, l2_24_imp_volume,l2_25_imp_volume]

In [48]:
# Lithium 28252000
l3_17_country , l3_17_imp_usmillion, l3_17_imp_volume = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2018-2019_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx')
l3_18_country, l3_18_imp_usmillion ,l3_18_imp_volume  = c_exim(r'Data\EIDB\Import\Li_25309099_28369100_28252000\2019-2020_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx')
l3_19_country,l3_19_imp_usmillion,l3_19_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2020-2021_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_20_country,l3_20_imp_usmillion,l3_20_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2021-2022_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_21_country,l3_21_imp_usmillion,l3_21_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2022-2023_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_22_country,l3_22_imp_usmillion,l3_22_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2023-2024_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_23_country,l3_23_imp_usmillion,l3_23_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2024-2025_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_24_country,l3_24_imp_usmillion,l3_24_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx")
l3_25_country,l3_25_imp_usmillion,l3_25_imp_volume = c_exim(r"Data\EIDB\Import\Li_25309099_28369100_28252000\2025-2026(Apr-Aug)_TradeStat-Eidb-Import-all-countries_Li_28252000.xlsx",n=2)
l_28252000_country = [l3_17_country, l3_18_country, l3_19_country, l3_20_country, l3_21_country, l3_22_country, l3_23_country, l3_24_country, l3_25_country]
l_28252000_imp_usmillion = [l3_17_imp_usmillion, l3_18_imp_usmillion, l3_19_imp_usmillion, l3_20_imp_usmillion, l3_21_imp_usmillion, l3_22_imp_usmillion, l3_23_imp_usmillion, l3_24_imp_usmillion,l3_25_imp_usmillion]
l_28252000_imp_volume = [l3_17_imp_volume, l3_18_imp_volume, l3_19_imp_volume, l3_20_imp_volume, l3_21_imp_volume, l3_22_imp_volume, l3_23_imp_volume, l3_24_imp_volume,l3_25_imp_volume]

#### Data Frame forming

In [49]:
minerals = ['Graphite_25041010','Graphite_25041020','Graphite_38011000',
            'Ti_26140020','Ti_28230010','Ti_81082000',
            'Li_28369100','Li_25309099','Li_28252000']
import_countries = [g_25041010_country, g_25041020_country, g_38011000_country,
                    t_26140020_country, t_28230010_country, t_81082000_country,
                    l_28369100_country, l_25309099_country, l_28252000_country]
import_usmillion = [g_25041010_imp_usmillion, g_25041020_imp_usmillion, g_38011000_imp_usmillion,
                    t_26140020_imp_usmillion, t_28230010_imp_usmillion, t_81082000_imp_usmillion,
                    l_28369100_imp_usmillion, l_25309099_imp_usmillion, l_28252000_imp_usmillion]
import_volume = [g_25041010_imp_volume, g_25041020_imp_volume, g_38011000_imp_volume,
                    t_26140020_imp_volume, t_28230010_imp_volume, t_81082000_imp_volume,
                    l_28369100_imp_volume, l_25309099_imp_volume, l_28252000_imp_volume]
c_im['minerals'] = minerals
c_im['countries'] = import_countries
c_im['usmillion'] = import_usmillion
c_im['volume'] = import_volume
with pd.ExcelWriter("countrywise_import_export_data.xlsx", engine='openpyxl') as writer:
    c_ex.to_excel(writer, sheet_name='Export', index=False)
    c_im.to_excel(writer, sheet_name='Import', index=False)